<!--Documentation about ng-message: https://docs.angularjs.org/api/ngMessages-->

<div class="error" ng-message="compareTo"><i class="ion-information-circled"></i> {{"passwords_not_equals" | translate}}</div>
<div class="error" ng-message="required">
  <i class="ion-information-circled"></i>
  {{"field_required" | translate}}
</div>
<div class="error" ng-message="minlength">
  <i class="ion-information-circled"></i>
  {{"min_field_length" | translate}}
</div>
<div class="error" ng-message="maxlength">
  <i class="ion-information-circled"></i>
  {{"max_field_length" | translate}}
</div>
<div class="error" ng-message="email">
  <i class="ion-information-circled"></i>
  {{"email_invalid" | translate}}
</div>
