<ion-view title='<img class="title-image" src="img/logotipoa.png" height="80%"/>' cache-view="false" hide-back-button="true">
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
      <button class="button button-clear button-icon ion-navicon"
             menu-toggle="left">
          </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <p>{{'select_language' | translate}}</p>
    <ul class="list">
      <li class="item item-checkbox">
         English
         <label class="checkbox">
         <input type="checkbox" ng-checked="select_value[0]" ng-click="selectLanguage('en')" ng-disabled="select_value[0]">
         </label>
      </li>

      <li class="item item-checkbox">
         Español
         <label class="checkbox">
         <input type="checkbox" ng-checked="select_value[1]" ng-click="selectLanguage('es')" ng-disabled="select_value[1]">
         </label>
      </li>

      <li class="item item-checkbox">
         Euskara
         <label class="checkbox">
         <input type="checkbox" ng-checked="select_value[2]" ng-click="selectLanguage('eu')" ng-disabled="select_value[2]">
         </label>
      </li>
    </ul>
    <div class="row">
      <div class="col"></div>
      <div class="col col-80">
        <button class="button button-block button-dark" ng-click="savePreferences()">{{'save' | translate}}</button>
      </div>
     <div class="col"></div>
    </div>

  </ion-content>
</ion-view>

