<ion-view view-title="Euroku" cache-view="false" hide-back-button="true">
<!--hide-nav-bar="true"-->
<div class="bar bar-header bar-dark">
</div>
  <ion-content>
    <h1></h1>
    <div class="center">
      Iniciar sesión. Registrarme
      <div class="row">
          <div class="col"></div><!--20% for left side-->
          <div class="col col-80">
            <div class="row responsive-sm">
                Ya tengo una cuenta.
            </div>
            <div class="row responsive-sm">
                <button class="button button-block button-dark" ng-click="goToLoginForm()">
                  {{'start_session' | translate}}
              </button>
            </div>
            <div class="row responsive-sm">
                No tengo cuenta. Registrarme.
            </div>
            <div class="row responsive-sm">
                <button class="button button-block button-dark" ng-click="goToRegisterForm()">
                  {{'register_btn_lbl' | translate}}
              </button>
            </div>
        </div>
        <div class="col"></div> <!--20% for right side-->
      </div>

    </div>
  </ion-content>
  <div class="bar bar-footer bar-dark">
    <button class="button button-clear ion-android-home" ng-click="returnToSelectLanguage()">  Hasiera</button>
    <div class="title">{{'play_quiz' | translate}}</div>
    <button class="button button-clear ion-information-circled" ng-click="startPlay()">  Partida!!</button>
  </div>
</ion-view>
