<ion-view view-title="" hide-back-button="true" hide-nav-bar="true">

  <ion-content>
    <h1>Euroku</h1>
    <p>
      <button class="button button-block button-dark" ng-click="">  {{'lang_en' | translate}}</button>
    </p>
    <p>
      <button class="button button-block button-dark" ng-click="">  {{'lang_es' | translate}}</button>
    </p>
    <p>
      <button class="button button-block button-dark" ng-click="">  {{'lang_eu' | translate}}</button>
    </p>

  </p>

  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <button class="button button-clear">Left</button>
    <div class="title">About app</div>
    <button class="button button-clear">Right</button>
  </div>
</ion-view>
