<ion-view view-title=""  cache-view="false" hide-back-button="true" >
<!--hide-nav-bar="true"-->
<!--<div class="bar bar-header bar-dark">
</div>-->
  <ion-content>
    <div class="center">
      <p>
        <div class="col"></div>
        <div class="col">
          <img class="row" src="img/euroku_logo.png" width="100%"/>
        </div>
        <div class="col"></div>
      </p>
      <!--<img src="img/logotipoa.png" />-->
      <h4>DSS2016EU</h4>
      <div class="row" ng-show="!show_play_button">
          <div class="col"></div><!--20% for left side-->
          <div class="col col-80">
            <div class="row responsive-sm">
                <button class="button button-block button-dark" ng-click="selectLanguageToStart('en')">
                  {{'lang_en' | translate}}
              </button>
            </div>
            <div class="row responsive-sm">
                <button class="button button-block button-dark" ng-click="selectLanguageToStart('es')">
                  {{'lang_es' | translate}}
              </button>
            </div>
            <div class="row responsive-sm">
                <button class="button button-block button-dark" ng-click="selectLanguageToStart('eu')">
                  {{'lang_eu' | translate}}
              </button>
            </div>
        </div>
        <div class="col"></div> <!--20% for right side-->
      </div>
      <div class="row" ng-show="show_play_button">
        <div class="col"></div>
        <div class="col col-90">
          <div class="row responsive-sm">
            <button class="button button-block button-dark" ng-click="goPlay()">
                {{'start_play' | translate}}
            </button>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </ion-content>
<!--  <div class="bar bar-footer bar-dark">
    <button class="button button-clear">Left</button>
    <div class="title">{{'play_quiz' | translate}}</div>
    <button class="button button-clear">Right</button>
  </div>-->
</ion-view>
