<ion-view title='<img class="title-image" src="img/logotipoa.png" height="80%"/>' cache-view="false" hide-back-button="true">
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
      <button class="button button-clear button-icon ion-navicon"
             menu-toggle="left">
          </button>
      </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="aboutus">
      <h1>{{'what_is_euroku' | translate}}</h1>
      <div class="text">
      <p>{{"paragraph_1" | translate}}.</p>
      <p>{{"paragraph_2" | translate}}.</p>
      <p>{{"paragraph_3" | translate}}.</p>
      <p>{{"paragraph_requirements_text" | translate}}.</p>
      <ul>
          <li>  - {{"requirement_one" | translate}}.</li>
          <li>  - {{"requirement_two" | translate}}.</li>
      </ul><br/>
      <!--<p>Oharra: Gomendagarria da WIFI bidez jokatzea, bideoek kontsumo handia dutelako.</p>-->
      <div class="logotipoak">
          {{"creator" | translate}}: <br />
          <div class="row responsive-sm">
              <img src = "img/zer_da_dss16.jpg" width="220px" ng-click="goToSource(2)"/>
             
          </div>
          <br />
          {{"developer" | translate}}: <br />
          <div class="row responsive-sm">
                <img src = "img/logo_codesyntax.gif" width="140px" ng-click="goToSource(1)"/>
          </div>

          <!-- Hau probisionala <br />-->
          <!--<div>
            {{"sponsor" | translate}}: <br />
            <img src = "img/eusko_j.png" ng-click="goToSource(3)" />
                    <br />
        </div>-->
      </div>
      </div>

    <button  class=" button button-block button-dark" ng-click="morePlay()">{{'start_play' | translate}}</button>
  </ion-content>
</ion-view>
