
<ion-view title='<img class="title-image" src="img/logotipoa.png" height="80%"/>' cache-view="false">
  <ion-nav-buttons side="left">
        <button class="button icon-left ion-arrow-left-c button-clear" ng-click="returnToPrices()">

        </button>
    </ion-nav-buttons>
  <ion-content>
    <div class="row erantzuna" ng-show="correct">
      <div class="col col-25"><img class="icons" src="http://www.psdgraphics.com/file/gold-trophy.jpg" width="100%" height="100%"/></div>
      <div class="col">
        <!--<h2>{{title}}</h2>-->
        <p ng-if="price.claimed"><b>{{'claimed_text_true' | translate}}</b></p>
        <p ng-if="!price.claimed"><b>{{'claimed_text_false' | translate}}</b></p>
        <p class="erantzun_text">{{price.title}}</p>

         <p ng-if="price.event">{{'event_date_text_label' | translate}}: {{price.date}}</p>
        <!--<button class="button button-clear button-calm"
            ng-click="goToSourceCustom()">
            Info +: {{result.provider}}
        </button>-->
      </div>
    </div>
    <div class="row resposinve-sm erantzuna">
           <div class="col">
            <button class="button button-block button-dark" ng-click="openBrowser(urls[0])">{{'more_info_btn' | translate}}</button>
         </div>
    </div>

  <div class="row responsive-sm">
    <div class="col">
        <br/>
        <p class="text" ng-if="price.key"><span>{{'win_price_code' | translate}}: <b>{{price.key}}</b></span></p>
        <p class="erantzun_text"><!--{{result.correct_answer}}--></p>

        <p class="text" ng-if="price.enddate">{{'end_data_text' | translate}}: {{price.enddate}}</p><!--({{progress}} %)-->
        <p class="text" ng-if="!price.enddate">{{'end_data_text_not_set_date' | translate}}</p><!--({{progress}} %)-->
        <p class="text"><span><b>{{'prices_instructions_1' | translate}}</b></span><br/>{{'prices_instructions_2' | translate}}</p><!--({{progress}} %-->

        <button class=" button button-block button-dark" ng-click="goToInformPoint()">{{"maps_app_open_btn_lbl" | translate}}</button>

      </div>
  </div>



  </ion-content>
</ion-view>


