
<ion-view title="{{'trophy_text' | translate}}" cache-view="false">

  <ion-content class="has-header white">

    <div class="list" ng-show="loading">
      <div class="item item-divider">
        {{'your_trophy_title' | translate}}
      </div>
      <a class="item item-text-wrap" ng-click="morePlay()" ng-if="user_prices==0"><h2>{{"user_no_obtain_prizes" | translate}}</h2></a>
      <a class="item item-avatar" href="#" ng-repeat="price in user_prices" ng-if="user_prices>0">
        <img src="http://www.psdgraphics.com/file/gold-trophy.jpg">
        <h2>{{price.title}}</h2>
        <p>{{price.amount}}</p>
        <p>{{price.enddate}}</p>
      </a>
      <div class="item item-divider">
        {{'active_trophy_title' | translate}}
      </div>
      <a class="item item-avatar" ng-repeat="price in public_prices" ng-click="openPriceDetailItemInfo(2,$index)">
        <img src="http://www.psdgraphics.com/file/gold-trophy.jpg">
        <h2>{{price.title}}</h2>
        <!--<p>{{price.amount}}</p>-->
        <p>Amount: {{price.date}}</p>
        <p ng-if="price.enddate">Amaiera data: {{price.enddate}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>


