<ion-view view-title="" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="right">
    <b><span id="chronotime" ng-model="tribualtime">00:00</span></b>
  </ion-nav-buttons>
  <ion-content>
    <!--<div class="question_title">
      <h2>{{question.qtype.title}}</h2>
    </div>
    <div class="border">

      <h3 ng-bind-html="question.title"></h3>
      <div ng-show="containimage [$index]">
        <img src="{{images [$index]}}" alt = ""/>
      </div>

    </div>
    <h3 class="question"> {{question.title}} </h3>-->

    <button ng-click="startTime()">Test</button>
    <div ng-show="loading">
      <div class="question_title">
        <h2></h2>
      </div>
      <div class="border">

        <h3 ng-bind-html="question.title"></h3>
        <div ng-show="show_image">
          <img src="{{question.img}}" alt = ""/>
        </div>

      </div>
      <h4 class="points"><span>Puntu jokoan: </span></h4>
      <div class="answers">

         <!-- <ion-radio class="item_ans"
              ng-model="choice"
              value="1"
              ng-disabled="disabled">
              {{question."1"}}
            </ion-radio>
          <ion-radio
            class="item_ans"
            ng-model="choice"
            value="2"
            ng-disabled="disabled">
              {{question."2"}}
          </ion-radio>
          <ion-radio
          class="item_ans"
            ng-model="choice"
            ng-disabled="disabled"
            value="3">
              {{question."3"}}
          </ion-radio>-->

      </div>
    </div>
  </ion-content>
</ion-view>
