<ion-view view-title="" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="right">
  	<b><span id="chronotime">0:00:00:00</span></b>
  </ion-nav-buttons>
  <ion-content>
    <!--<div class="question_title">
      <h2>{{question.qtype.title}}</h2>
    </div>
    <div class="border">

      <h3 ng-bind-html="question.title"></h3>
      <div ng-show="containimage [$index]">
        <img src="{{images [$index]}}" alt = ""/>
      </div>

    </div>
    <h3 class="question"> {{question.title}} </h3>-->

    <div class="question_title">
        <h2>{{question.qtype.title}}</h2>
      </div>
      <div class="border">

        <h3 ng-bind-html="question.title"></h3>
        <!--<div ng-show="containimage [0]">
          <img src="{{images [$index]}}" alt = ""/>
        </div>-->

      </div>
    <h4 class="points" ng-show="loading"><span>Puntu jokoan: </span>{{question.difficult}}</h4>
    <div class="answers" ng-show="loading">

        <ion-radio class="item_ans"
            ng-model="choice"
            ng-change = "checkAnswer (orders[0] [0])"
            value="{{orders[0] [0]}}"
            ng-disabled="disabled">
              {{answers [orders[0] [0] -1]}} <!-- - {{orders[0] [0] -1}}-->
          </ion-radio>
        <ion-radio
          class="item_ans"
          ng-model="choice"
          ng-change = "checkAnswer (orders[0] [1])"
          value="{{orders [0] [1]}}"
          ng-disabled="disabled">
            {{answers [orders[0] [1] -1]}} <!-- - {{orders[0] [1] -1}}-->
        </ion-radio>
        <ion-radio
        class="item_ans"
          ng-model="choice"
          ng-change="checkAnswer (orders[0] [2])"
          ng-disabled="disabled"
          value="{{orders [0][2]}}">
            {{answers [orders[0] [2] -1]}} <!-- - {{orders[0] [2] -1}}-->
        </ion-radio>

    </div>
  </ion-content>
</ion-view>
