/*@font-face {
    font-family: 'fontastiquefontastique';
    src: url('../img/fontastique-webfont.eot');
    src: url('../img/fontastique-webfont.eot?#iefix') format('embedded-opentype'),

         url('../img/fontastique-webfont.woff') format('woff'),
         url('../img/fontastique-webfont.ttf') format('truetype'),
         url('../img/fontastique-webfont.svg#fontastiquefontastique') format('svg');
    font-weight: normal;
    font-style: normal;

    /*url('../img/fontastique-webfont.woff2') format('woff2'),
}*/

@font-face {
    font-family: 'whitney-mediumregular';
    src: url('../img//whitney/whitneymedium-webfont.eot');
    src: url('../img//whitney/whitneymedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img//whitney/whitneymedium-webfont.woff2') format('woff2'),
         url('../img//whitney/whitneymedium-webfont.woff') format('woff'),
         url('../img//whitney/whitneymedium-webfont.ttf') format('truetype'),
         url('../img//whitney/whitneymedium-webfont.svg#whitney-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    color: #666;
    font-family: 'whitney-mediumregular';
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #666;
    font-family: 'whitney-mediumregular';
    font-weight: 500;
    line-height: 1.2;
}

img, .center, .answers {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.border img{
 width: 100%;
 height: auto;
 margin-top: 15px;
 padding: 10px
}


h1, h4, .center{
  text-align: center;
}

h1.title{
  margin-left: -10px;
}

span.text{
  margin-left: 20px;
}

img.displayed {
  margin-top: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-dark{
  /*background-color:  #52bfd3 !important;*/

  border-color: #459fdc !important;
 font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.button-dark.activated
{
  /*background-color: #3e6d75 !important;*/
  background-color: black !important;
}

.bar-dark
{
  /*background-color:  #52bfd3 !important;*/
  color: white;
  font-size: 180%;
  text-transform: uppercase;
  border-color: #459fdc !important;
}

.button-dark, .bar-dark
{
  background-color:  #459fdc !important;
}

.answers{
  width: 80%;
  clear:both;
  margin-top: 50px !important;
  text-align:center;
}


.item_ans{
  margin-top: 15px !important;
  border-radius: 10px;
}

.question{
  color: #d71a4a;
  float: left;
  margin-left: 20px;
}

#chronotime{
  font-size: 22px;
  margin-top: 5px;
}
/**emaitza*************/

.erantzuna{
  background: #efefef;
}

.erantzuna h2{
  margin:0 8px 0 0;
  float: left;
  font-size: 28px;
}


.erantzun_text{

   margin: 10px 0 15px !important;
   font-size:120%;
}

.erantzuna p{
  margin:0;
}

.erantzuna .button{
  line-height: auto;
  height: auto;
  font-size: 14px;
  font-weight: bold;
  min-height: 20px;
  line-height: 20px;
  padding: 0;
}

.erantzuna .text span{
  text-transform: uppercase;
  font-size: 80%;
}

.icons{
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}


.player_level{
  max-width: 100%;
}

.irabazi_text, .guztira_text, .zure_maila_text{
  text-transform: uppercase;
  font-size: 85%;

}

.irabazi_text span, .guztira_text span, .zure_maila_text span{
  font-size: 180%;
  display: block;
  clear:left;
}

.artaburua.zure_maila_text span{
  color: #d71a4a;
}

.ikaslea.zure_maila_text span{
  color:#ee7632;
}

.ega.zure_maila_text span{
  color: #dd3c94;
}

.irakaslea.zure_maila_text span{
  color: #f3cb26;
}

.euskaltzaina.zure_maila_text span{
  color: #1a9869;
}

.mitxelena_xvi.zure_maila_text span{
  color: #52bfd3;
}

.ko_response {
  background: #eff0ec;
}

.ok_response {
  background: #f0ecec;
}


.ko_response h2, .ko_response .erantzun_text{
  color: #c42626;
}

.ok_response h2, .ok_response .erantzun_text{
  color: #a7c426;
}


.points{
  float: right;
  margin-right:20px;
  font-size: 20px;
}

.points span{
 display: block;
 text-transform: uppercase;
 font-size: 22px;
  margin-top: 2px;
  margin-left: 2px;
 font-weight:bold;
 color: white;
}

.answers .item-content {
    padding: 12px 49px 12px 16px;
}


.center{
  padding-top: 50px;
}


.emaitza_azpi{
  padding: 0 20px;
}

.emaitza_azpi .center{
  padding: 0;
}
.layout{
  padding: 30px;
  background: #333;
  margin-bottom:10px;
}

.correct {
  background-color: #DFF0D8;
  color: #468847;
}

.text_incorrect {
  color: #ff0033 !important;
  text-align: center;
  padding: 5px;
}

.incorrect {
  color: #B94A48;
  background-color: #F2DEDE;
}

.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #f7f8fa;
}


/****about us**************/

.aboutus{
  padding: 20px;
}

.logotipoak{
  font-size: 80%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/*###################################################################
  Erronka popup-aren diseinua
####################################################################*/

.popup-head, .popup-buttons .button, .popup-buttons .button:link{
  background: #459fdc !important;
  border-color: #459fdc !important;
}

.popup-title
{
  color:white !important;
}

.popup-buttons .button, .button-dark {
  -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
}

.popup-buttons .button:active{
  background: black;
  border-color: black;
    /*background-image: -webkit-linear-gradient(top, #505a61, #596c78);
    background-image: -moz-linear-gradient(top, #505a61, #596c78);
    background-image: -ms-linear-gradient(top, #505a61, #596c78);
    background-image: -o-linear-gradient(top, #505a61, #596c78);
    background-image: linear-gradient(to bottom, #505a61, #596c78);*/

    /*font-family: Arial;*/
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}



/************header*****/

.title .title-image{
  margin-top: 5px;
  height: 80%;
}



/******bideoak responsive egiteko ***********************/

.bideoa {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
}

.bideoa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}


/**************************************************
Form validations CSS class
**************************************************/
.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}


/*Agendako ebentu bat***********/

.event_detail_title h3 {
    color: #ffffff !important;
    line-height: 26px !important;
    padding: 10px 30px 10px 10px !important;
}
.event_detail_title h3 a {
    color: #ffffff !important;
    line-height: 26px !important;
}
.event_detail_location h5, .event_detail_time h5 {
    font-size: 16px !important;
    margin: 3px 0 !important;
}
.ohanah .event_date_hour {
    color: #fff;
}
.event-photos-dss2016 {
    background-color: #000000;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
}
.event_detail_container .event-photos-dss2016 img {
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.5s linear 0s;
}
.event_detail_container:hover .event-photos-dss2016 img {
    opacity: 0.8;
}
.event_detail_container:hover .event_detail_title {
    opacity: 1;
}
.event_detail_container:hover .event_tags_container, .event_detail_container:hover .event_tags_container2 {
    opacity: 0;
}
.event_detail_container:hover .event_date, .event_detail_container:hover .event_date2 {
    opacity: 0;
}
.event-photos-dss2016-No {
    background-color: #469fdc;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
}
.ohanah .event_date_day, .ohanah .event_date_month, .ohanah .event_date_year, .ohanah .event_date_hour {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.ohanah .event_date_hour {
    float: right;
}
.event_detail_container {
    float: left;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    width: 33.3333%;
}
.ohanah .event_date {
    background-color: rgba(70, 159, 220, 0.7);
    background-image: url("../images/ordularia.png");
    background-position: 10px 7px;
    background-repeat: no-repeat;
    font-family: "Whitney SSm A","Whitney SSm B";
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 260px;
    transition: opacity 0.3s linear 0s;
    width: 245px;
}
.ohanah .event_date2 {
    background-color: rgba(70, 159, 220, 0.7);
    background-image: url("../images/ordularia.png");
    background-position: 10px 7px;
    background-repeat: no-repeat;
    font-family: "Whitney SSm A","Whitney SSm B";
    height: 80px;
    line-height: 40px;
    padding-left: 45px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 220px;
    transition: opacity 0.3s linear 0s;
    width: 245px;
}
.ohanah .event_dateSingle {
    background-image: url("../images/ordulari-urdina.png");
    background-position: 2px 0;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    color: #469fdc;
    font-family: "Whitney SSm A","Whitney SSm B";
    font-size: 13px;
    height: 20px;
    line-height: 17px;
    padding-left: 25px;
    padding-right: 10px;
    text-align: left;
    transition: opacity 0.3s linear 0s;
}
.ohanah .event_venue_flyer_containerSingle {
    background-image: url("../images/kokapena.png");
    background-position: 2px 0;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    color: #469fdc;
    font-family: "Whitney SSm A","Whitney SSm B";
    font-size: 13px;
    height: 20px;
    line-height: 17px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    transition: opacity 0.3s linear 0s;
}
.ohanah .ohanah-event-venue-linkSingle {
    font-size: 13px;
}
.ohanah-event-category-link {
    background-color: #ffe600;
    color: #46a0dc;
    display: inline-table;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    margin-top: 5px;
    padding: 1px 3px;
    text-transform: uppercase;
}
.ohanah-event-category-link a {
    color: #469fdc;
}
.ohanah-event-category-link a:hover {
    color: #000000;
}
